
header {
    background-color: #083D77;
    color: #ffffff;
    font-family: 'Open Sans';
    padding: 2rem;
    margin-right: 0;
}

h1 {
    font-weight: bold;
}

h2, section {
    margin-left: 2rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem; 
}

p.opening {
    font-family: sans;
    margin-left: 2rem;
}

p.filter {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    font-family: oswald;
}

input {
    margin-bottom: .5rem;
}

.filters {
    margin-bottom: 1rem;    
}

.adopt > * {
    background-color: #F0EDEE;  
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 2px;
}

.menu {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

li {
    text-align: justify;
    list-style-type: none;
    margin: 0rem;
}

.adoptees > * {
    display: flex;
    flex-flow: row wrap;
}

.dog {
    max-width: fit-content;
}

.dogs {
    max-width: 33.3%;
    margin-top: 0;
    margin-bottom: 1rem;
}

.dog-pic {
    width: 95%;
    height: auto;
    align-content: space-between;
    margin-top: 1px;
}

.items {
    display: flex;
    flex-flow: row wrap;
}

.item {
    padding: 4px;
    background-color: #90ddf0;
    border-radius: 45px;
    margin: 2px;
    font-size: 16px;
    font-family: open sans;
    font-weight: normal;
}

.bottom {
    max-width: 100%;
}

.background {
    display: flex;
    text-align: center;
    color: white;
    height: 200%; 
    line-height: 350px;
    font-size: 2rem;
}

.donate {
    background: 
    linear-gradient(rgba(167, 163, 242, 0.75), rgba(167, 163, 242, 0.75)),
    URL("starter_files/images/donate.jpg") top center/cover;
    width: 33.3%;
    font-family: oswald;
    font-size: 3rem;
}

.volunteer {
    background: 
    linear-gradient(rgba(167, 163, 242, 0.75), rgba(167, 163, 242, 0.75)),
    URL("starter_files/images/volunteer.jpg") top center/cover;
    width: 33.3%;
    font-family: oswald;
    font-size: 3rem;
}

.location {
    background: 
    linear-gradient(rgba(167, 163, 242, 0.75), rgba(167, 163, 242, 0.75)),
    URL("starter_files/images/location.png") top center/cover;
    width: 33.3%;
    font-family: oswald;
    font-size: 3rem;
}